[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown
Comment=shutdown
Exec=shutdown now
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
Name[en_US]=Shutdown